<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs'); %>
    <title>
        <%= title %>
    </title>
</head>
<body>
    <%- include('../partials/nav.ejs'); %>
    <h2>Welcome to Home Page!!!</h2>
    <a href="/download">Download</a>
</body>
</html>